---
import type { LevelledSkill } from '@/types/sections/skills-section.types';
import Icon from '@/web/components/icon.astro';
import Typography from '@/web/components/typography.astro';
import SkillLevel from './skill-level.astro';

export interface Props extends LevelledSkill {}

const { url, icon, iconColor, name, level, description } = Astro.props;

const IconWrapper = url ? 'a' : 'div';
---

<div class="flex w-full flex-col gap-2 sm:w-auto">
  <div class="flex h-auto flex-col items-start justify-between gap-2 sm:h-5 sm:flex-row sm:items-center sm:gap-0">
    <div class="flex w-full items-center gap-2 sm:w-auto">
      <IconWrapper
        class="flex h-5 w-full items-center gap-2 sm:w-auto"
        {...url && { href: url, target: '_blank', rel: 'noopener noreferrer' }}
      >
        {icon && <Icon name={icon} color={iconColor} size={20} />}
        <Typography variant="skill" class="truncate">{name}</Typography>
      </IconWrapper>
      {
        description && (
          <div
            class="ml-auto flex h-3.5 w-3.5 flex-shrink-0 sm:ml-2"
            data-tooltip={description}
            data-tooltip-placement="top"
          >
            <Icon name="fa6-solid:circle-info" color="#D1D5DB" size={14} />
          </div>
        )
      }
    </div>
  </div>
  <SkillLevel skillLevel={level} />
</div>
